form
	display: flex
	flex-direction: column
	flex-wrap: nowrap
	gap: 10px
input, select
	border-radius: 5px
	border: 1px solid #CECECE
	min-height: 33px
	outline: none
	min-width: 252px
	&:focus, &::placeholder
		padding: 8px 15px
	&:focus 
		&::placeholder
			padding: 0
// select
// 	padding: 8px 15px
// 	&:focus 
// 		padding: 0
input[type=submit]
	background-color: $jumpa-primary
	text-transform: uppercase
	font-weight: 700
	color: $white
	line-height: 18px
