*
	font-family: $poppins
::-webkit-scrollbar
	width: 5px
	margin-left: 10px
::-webkit-scrollbar-thumb
	background-color: #C4C4C4
	border-radius: 20px

html
	min-width: 740px
	min-height: 512px
	max-width: 100vw
	overflow-x: none
p, div
	font-size: 12px
	line-height: 18px
h1, .brand-text
	font-size: 25px
.gray-background
	background: $bg-abu-1 center center fixed
.red-background
	background: $jumpa-primary center center fixed
	.content
		margin: 0 auto
		width: min-content
		position: relative
		height: 100vh
		display: flex
		flex-wrap: nowrap
		flex-direction: column
		align-items: center
		justify-content: center
		& > *
			padding: 0 0 15%
	footer
		margin: 0 auto
		padding: 1rem 0
		width: 100%
		text-align: center
		color: $white
		line-height: 18px
		position: absolute
		bottom: 0

.welcome
	.logo-figure
		width: 114px
		height: 114px
		background-color: $white
		padding: 20px
		margin: 0 auto
		img
			margin: 0 auto

.button-groups
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	gap: 10px

.page
	margin: 0
	.meet-history
		position: fixed
		width: calc(100vw - 40px)
		margin: 0 20px
		padding: 20px
		background-color: $white
		border: 1px solid $lighter-grey
		border-radius: 10px 10px 0 0
		height: calc(100vh - 62px)
		max-height: calc(100vh - 62px)
	
.home
	display: flex
	position: fixed
	justify-content: space-between
	.home-rs
		background-color: $white
		padding: 15px 25px
		border: 1px solid $lighter-grey
		border-radius: 10px 10px 0 0
		min-width: 380px
		width: calc(54% - 20px)
		height: calc(100vh - 62px)
		margin: 0 20px 0 0
		h4
			font-family: $kanit
			color: $dark-grey
			font-weight: 700
			font-size: 14px
			line-height: 21px
			margin: 0 0 10px
		.upcoming-cards-wrap
			display: flex
			gap: 10px
			position: sticky
			flex-flow: column nowrap
			overflow: hidden
			overflow-y: auto
			height: 100%
			padding-right: 10px
			.upcoming-card
				border-radius: 10px
				background-color: $jumpa-primary
				color: $white
				padding: 15px
				position: relative
				.option-button
					width: 20px
					height: 20px
					border-radius: 50%
					background-color: $white
					position: absolute
					top: 16px
					right: 16px
					&:before
						content: '•••'
						color: $dark-grey
				h5, p
					margin: 0 35px 5px 0
				h5
					font-size: 14px
					line-height: 21px
					font-weight: 700
				p
					font-size: 10px
					line-height: 15px
	.home-ls
		// min-width: 340px
		max-width: 46%
		background: url('/../img/sumpah-pemuda.png') center bottom
		background-size: contain
		background-repeat: no-repeat
		max-height: calc(100vh - 62px)
		h3
			font-family: $kanit
			font-weight: 700
			font-size: 20px
			line-height: 30px
			color: $dark-grey
			margin: 1rem 0 5px
			padding: 0 65px
		p.subtitle
			font-size: 10px
			line-height: 15px
			color: #9B9999
			margin: 0 0 20px
			padding: 0 65px
		.shortcut-card
			margin: 0 auto
			background-color: $white
			width: max-content
			padding: 15px 20px
			border: 1px solid $lighter-grey
			border-radius: 10px
			display: flex
			align-items: center
			justify-content: space-evenly
			gap: 20px
			.icon-group
				display: flex
				flex-direction: column
				align-items: center
				gap: 10px
				width: max-content
				.icon-button
					background-color: $jumpa-primary
					width: 62px
					height: 62px
					border-radius: 10px
					padding: 13px
				p
					font-size: 8px
					line-height: 12px
					text-align: center
